label{
    cursor: default;
}
 @font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.woff), url(../fonts/Roboto-Regular.woff2);
}
body{
    font-family: Roboto;
    background: rgb(230, 230, 230);
}
fieldset{
    border-radius: 42px;
    background: rgb(220, 220, 220);
    width: 95%;
                    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.9);
                    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.9);
                    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.9);
    margin: 40px auto;
}
legend{
    border-radius: 42px;
    border: 4px solid rgb(134, 134, 134);
    background: rgb(255, 255, 255);
}
::-moz-placeholder{color: white;}
::-webkit-input-placeholder{color: white;}

.max_min_cost{
        width: 30%;
        height: 50px;
        margin: 0 auto;
        margin-left: 10%;
        margin-right: 10%;
    }
    label > input{
        height: 32px;
        border-radius: 42px;
        width: 180px;
        margin-right:20px;
        /*border: 2px solid #4e4e4e;*/
        background: #6d6d6d;
        outline: none;
        position: relative;
        transition: .3s linear;
        display: flex;
        flex-direction: row;
        align-content: flex-start;
    }
    .phone_tags{
        display: flex;
        width: 34%;
        flex-flow: row;
        /*background-color: rgb(255, 255, 255); edited*/
        flex-wrap: wrap;
        align-content: flex-start;
        margin-top: 1%;
    }

.head{
    display: flex;
    height: 120px;
    width: 600px;
    margin: 0 auto;
}
    .head-logo{
        /*background-color: rgb(255, 255, 255);*/
        height: 120px;
        flex-grow: 1;
    }
    .head-search{
        flex-grow: 10;
        /*background-color: rgb(255, 255, 255);*/
        height: 100%;
        display: flex;
    }
        .search_blok{
            height: 50%;
            margin: 28px auto;
        }
        form {
            width: auto;
        }
        form > input {
            width: 750px;
            height: 42px;
            border-radius: 42px;
            border: 2px solid rgb(100, 100, 100);
            background: rgb(100, 100, 100);
            outline: none;
            position: relative;
            transition: .3s linear;
            padding: 10px;
            }
          button {
            width: 100px;
            height: 42px;
            border-radius: 42px;
            border: 2px solid #324b4e;
            background: #000000;
            border: none;
            top: -2px;
            right: 0;
            color: white;
            outline: none;
        }
        button:before{
            content: "\f002";
            font-family: FontAwesome;
            color: #324b4e;
        }

.content{
    display: flex;
    width: 80%;
    margin: 1% auto;
    flex-direction: column;
}
    .content_search_blok{
        flex-grow: 1;
    }
    .content_main_parameters{
        flex-grow: 1;
        flex-direction: column;
        align-content: flex-start;
    }
        .content_first_tags{
            background-color: rgb(151, 151, 151);
            border: 4px solid rgb(134, 134, 134);
            background: rgb(255, 255, 255);
            border-radius: 20px;
            outline: none;
            position: relative;
            transition: .3s linear;
            margin-top: 1%;
            margin-right: 2%;
            flex-direction: row;
            align-content: flex-start;
            flex-grow: 1;
        }

            .tagsf{
                border-radius: 42px;
                background: rgb(134, 134, 134);
                display: inline-block;
                margin: 10px;
                padding: 10px;
            }
            div > label{
                margin: 10px;
            }

.foot{
    display: flex;
    height: 105px;
    width: 600px;
    margin: 2% auto;
}
    .foot_logo{
        flex-grow: 1;
        height: 105px;
        width: 600px;
    }
