<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone choose</title>
    <link type="text/css" rel="stylesheet" href="../static/css/for phone choose.css" th:href="@{/css/for phone choose.css}">
</head>
<body>
    <header>
        <div class='head'>
            <div class='head-logo'>
                <img th:src="@{img/logo100x100.png}">
            </div>
        </div>
    </header>
    <section>
        <div class='tag_info'>
            <h2 th:text="${text}" style="margin-left: 20px"></h2>
        </div>
        <div class='content'>
            <div class='phone_list'>
                <ul>
                    <li th:each="el : ${phones}">
                        <div class='phone_info'>
                            <div class='phone_image'>
                                <img style="width : 100px; height: auto; margin-top:15px" th:src="@{img/phones/{link}(link=${el.phone.photo()})}">
                            </div>
                            <div class='phone_information'>
                                <div class='phone_name'>
                                    <a th:href="@{/select/{id}(id=${el.phone.getId()}, pff=${intPf}, ptt=${intPt})}"><h2 class='text_phone_name' th:text="${el.phone.brand}+' '+${el.phone.model}">
                                </h2></a>
                                </div>
                                <div class='phone_cost'><h3 th:text="${el.phone.getValue()}+'p'"></h3></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    
    <footer>
        <div class='foot'>
            <img th:src="@{/img/footer.png}">
        </div>
    </footer>
</body>
</html>