<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone information</title>
    <link type="text/css" rel="stylesheet" href="../static/css/main.css" th:href="@{/css/phone-page.css}">
    <link rel="shortcut icon" th:href="@{/img/logo100x100.png}" type="image/png">
</head>
<body>
    <header>
        <div class='head'>
            <div class='head-logo'>
                <img th:src="@{/img/logo100x100.png}">
            </div>
            <div class='head-search'></div>
            </div>
        </div>
    </header>
    <section>
        <div class='main_content'>
            <div class='content'>
                <div class='image'>
                    <img style="width : 300px; height: auto" th:src="@{/img/phones/{link}(link=${phone.photo()})}">
                </div>
                <div class='mobile_info'>
                    <div class='mobile_name'>
                        <h2 class='name_phone_text' th:text="${phone.getBrand()}+' '+${phone.getModel()}"></h2>
                    </div>
                    <div class='mobile_cost'>
                        <h3 class='cost_phone_text' th:text="${phone.getValue()}+'p'"></h3>
                    </div>
                    <div class='mobile_tags'>
                        <div class='bloks_of_phone_tags' th:each="el : ${phone.getTags()}">
                            <h3 th:text="${el}"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class='main_content'>
            <div class="parameters">
                <h2>Относительные параметры</h2>
                <h3 th:text="${cam}"></h3>
                <h3 th:text="${bat}"></h3>
                <h3 th:text="${pow}"></h3>
                <h3 th:text="${scr}"></h3>
                <h3 th:text="${rom}"></h3>
            </div>
        </div>
    </section>

    <footer>
        <div class='foot'>
            <div class='foot_logo'>
                <img th:src="@{/img/footer.png}">
            </div>
        </div>
    </footer>
</body>
</html>